* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2ede8;
    color: #111;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
}

/*Hero*/
.hero {
    background: #000;
    color: #fff;
    height:40vh;
    text-align: center;
    padding-top: 12vh;
}

.hero p{
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8rem;
}


.hero .hero-img {
    position: absolute;
    top: 20px;     
    left: 50%;      
    width: 120px;      
    opacity: 0.9; 
    transform: translateX(-50%);
    z-index: 5
}

.date {
    margin-top: 15px;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

.countdown {
    margin-top: 25px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

/*CONTENEDOR*/
.wrapper {
    margin-top: 25px;
    margin: auto;
    background-color:#fff;
}

/*SECCIONES*/
.section {
    padding: 20px 15px;
    text-align: center;
}

/*PADRES*/
.blessing {
    font-style: italic;
    margin-top: 10px;
}

.parents-names {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.parents-names div{
    width: 45%;
}

.role {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777;
    margin-bottom: 5px;
}

.parents-names p {
    font-size: 20px;
    font-style: italic;
}

.couple {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 8px;
}

.us-img {
    width: 100%;
    border-radius: 4px;

}

/*DIVIDER*/
.divider{
    width: 60px;
    height: 1px;
    background: #000;
    margin: 10px auto;
}

/*TEXTO*/

h1 {
    margin-bottom: 6px;
}

.section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.section p, 
.section li {
    font-size: 0.9rem;
    line-height: 1.35;
    margin: 6px 0;
}

ul {
    list-style: none;
}

.small {
    font-size: 0.75rem;
    color: #555;
}

/* ITINERARIO*/

.it-title {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
}
 
.timeline {
  position: relative;
  margin: 40px auto;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}
 
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #2b2b2b;
  transform: translateX(-50%);
}
 
.event {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
 
.event::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #2b2b2b;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
}
 
.event.left {
  justify-content: flex-start;
  text-align: right;
}
 
.event.right {
  justify-content: flex-end;
  text-align: left;
}
 
.event .content {
  width: 40%;
  font-size: 14px;
}
 
.event .time {
  font-size: 12px;
  color: #555;
  display: block;
  margin-bottom: 6px;
}
 
.event i {
  font-size: 18px;
  margin-bottom: 6px;
  display: block;
}


.event.left .time {
  position: absolute;
  right: calc(50% + 14px);   
  width: 120px;              
  text-align: right;         
  top: 6px;                  
  line-height: 1;
}


.icon {
  margin-right: 6px;
  font-size: 14px;
  opacity: 0.7;
}

/*FOTOS*/
.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.stack { /*columan con dos fotos*/
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.block.left img:first-child{
  grid-row: span 2;
}

.block.right img:last-child{
  grid-row: span 2;
}

.button {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 14px;
    border: 1px #000 solid;
    border-radius: 20px;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    color: #000;
}

/*RSVP*/
iframe {
    width: 50%;
    height: 900px;
    border: none;
    margin-top: 10px;
}

.no-kids {
    background: #f7f4ef;
    text-align: center;
    padding: 50px 25px;
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 1px;
}

.no-kids h2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #2b2b2b;
}

.no-kids p {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
}

@media (min-width: 768px) {
    .wrapper { 
        max-width: 800px;
    }

    .hero h1 {
        font-size: 4rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    text-align: center;
    padding-top: 3vh;
    height: 5vh;
    min-height: 50px;
}

footer p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8rem;
}

/*CELULAR*/ 
@media (max-width: 600px) {
 
  .timeline {
    max-width: 100%;
    padding-left: 0 10px;
  }
 
  .timeline::before {
    left: 50%;
    transform: translateX(-50%);
  }
 
  .event {
    width: 50%;
    position: relative;
  }

    .event.left{ 
        left: 0;
        text-align: rigth;
    }

    .event.rigth {
        left: 50%;
        text-align: left;
    }
 
  .event::before {
    left: 50%;
    transform: translateX(-50%);
  }
 
  .event .content {
    width: 85%;
  }
 
  .event .time {
     display: block;
      font-size: 12px;
  }

  .event i {
    font-size: 16px;
  }
 
}
 
/* --- ANIMACIONES GENERALES --- */

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.9s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Portada (fade in suave) */
.hero {
  opacity: 0;
  transform: scale(1.05);
  transition: all 1.2s ease-out;
}

.hero.active {
  opacity: 1;
  transform: scale(1);
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

/* Itinerario fade in */
.timeline {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out;
}

.timeline.active {
  opacity: 1;
  transform: translateY(0);
}


.no-kids {
    position: relative; 
}

.no-kids .corner-img {
    position: absolute;
    bottom: 10px;     
    left: 10px;      
    width: 60px;      
    opacity: 0.8;
      filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

@media (max-width:600px){
  .block {
    grid-template-columns: 1fr;
  }

  .stack{
    grid-template-rows: auto;
  }

  .block .img {
    height: auto;
  }
}



